h1 {
    color: brown;
    text-align: center;
}
h2 {
    color: darkgreen;
    font-weight:bold ;
}
p{
    color: gray;
    font-size: 20px;
}

body {
    background-color: lightyellow;
}

h3 {
    font-size: 24px;
}

header {
    background-color: lightblue;
}